BACKEND_PORT=3001
DATABASE_URL=postgresql://neondb_owner:npg_T6QgiR7BEJSO@ep-lively-voice-agy3w5n3-pooler.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
HASH_SALT_ROUNDS=10
JWT_SECRET=e3ad13de0951770dcf295e8dd7dc7b1e3acd803b372a6dc3b009ac4c23a4f298
JWT_EXPIRES_IN=1d
MIN_PASSWORD_LENGTH=6