BACKEND_PORT=3001
DATABASE_URL=Neon -> Dashboard -> Connect -> Connection String -> Copy Snippet
DATABASE_SEARCH_PATH=public
HASH_SALT_ROUNDS=10
JWT_SECRET=e3ad13de0951770dcf295e8dd7dc7b1e3acd803b372a6dc3b009ac4c23a4f298
JWT_EXPIRES_IN=86400
MIN_PASSWORD_LENGTH=6
DATE_OID=1082